node_modules
.svelte-kit
build
.vercel
.env
.env.*
!.env.example
dist
id_ed25519
id_ed25519.pub
authorized_keys
chatgpt-share-699e3be1-c7ac-800d-acf1-8809f09728e0.md
openai.chatgpt-26.5304.11628-win32-x64.vsix
openai.chatgpt-26.5304.11628-win32-x64.vsix
*.vsix
.env*.local
.svelte-kit/.svelte-kit/
.claude/worktrees/
.DS_Store
london.jpg
.codex-remote-attachments/019ec309-bfcc-7a32-8748-1bc89d32fd87/4651f0fc-9282-4960-bdeb-d54303b0103f/1-Photo-1.jpg
